*{
	margin: 0;
	font-family: sans-serif;
}

body{
	background-color: #E2E5DE;
}

.sno{
	width: 30px;
	line-height: 30px;
	color: white;
	background-color: #EEB500;
	margin: 5px;
	text-align: center; 
	vertical-align: middle;
	display: inline-block;
}

img{
	width: 290px;
	height: 360px;
	margin: auto 5px;
}

.container{
	border: 1px solid white;
	display: inline-block;
	width: 300px;
	padding: 0;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #fff;
}

.heading{
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 15px;
	text-transform: uppercase;
	color: #58a5dd;
	font-weight: bold;
	font-size: 18px;
}

.content{
	color: #4C4C4C;
	font-size: 18px;
	margin: 7px;
	overflow-y: scroll;
	height: 100px;
}

.sub{
	margin: auto 5px 5px 5px;
	text-align: center;
	background: #e10001;
	color: white;
	font-size: 18px;
	padding: 3px;
}